@import "@fortawesome/fontawesome-free/css/all.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  max-width: 1440px;
  margin: auto;

  header {
    position: relative;
    margin: auto;
    max-width: 1440px;
    min-height: 667px;
    background-image: url(/image_header.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      position: absolute;
      top: 10px;
      left: -60px;

      h1 {
        color: white;
        font-size: 36px;
        font-family: sans-serif;
        font-weight: 800;
        transform: scaleX(0.5);
        white-space: nowrap;
      }
      
      .circle-icon {
        width: 20px; /* Taille du cercle intérieur */
        height: 20px;
        background-color: transparent; /* Cercle blanc intérieur */
        border: 2px solid white; /* Cercle transparent autour */
        border-radius: 50%; /* Forme circulaire */
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 70px; /* Ajustez cette valeur pour coller l'icône au texte */
        transform: translateY(-50%);
        
        .round-icon {
          width: 12px; /* Taille du cercle intérieur */
          height: 12px;
          background-color: white; /* Cercle blanc intérieur */
          border-radius: 50%;
        }
      }
    }

    h2 {
      color: #ffd15b;
      font-size: 44px;
      text-align: center;
  }

    .content {
      width: 70%;
      display: flex;
      gap: 30px;
      flex-direction: column;

      .searchBar {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        border-radius: 10px;
        padding: 10px 20px;

        .icone {
          width: 52px;
          height: 52px;
          background-color: #1b1b1b;
          color: #fff;
          border-radius: 7px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 32px;
          cursor: pointer;
        }
        
        &>input {
          border-width: 0px;
          height: 52px;
          width: 90%;
          font-size: 16px;
        }

        &.searchBar>.icone.svg-inline--fa {
          width: 52px;
          height: 52px;
          background-color: #1b1b1b;
          color: #fff;
          padding: 10px;
          box-sizing: border-box;
          border-radius: 7px;
        }
      }
    }
  }

  main {
    .filters {
      width: 90%;
      margin: 50px auto auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  
      .selectTag {
        background-color: #fff;
        border-radius: 20px;
        padding: 17px;
        max-width: min-content;

        button {
          width: 100%;
          background-color: #fff;
          border: none;
          cursor: pointer;
        }
        
        .titleSelect {
          display: flex;
          gap: 63px;
          justify-content: space-between;
        }
        .inputSelectTag {
          width: 100%;
          padding: 10px;
          margin-top: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
        
        .filter-list {
          display: flex;
          flex-direction: column;
          max-height: 300px;
          overflow-y: auto;

          p {
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-wrap: nowrap;

            &:hover {
              background-color: #f0f0f0;
            }
          }
        }
      }

      .recipe-count {
        font-size: 24px;
      }
    }
    .ingredients {
      background-color: #ffd15b;
   
    }

    .ustensils {
      background-color: #5bffce;
    }

    .appliances {
      background-color: #7fff5b;
    }
  
    .tags {
      margin: 50px auto auto auto;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      width: 90%;

      .tag {
        padding: 10px 15px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;



        .remove-tag {
          cursor: pointer;
          margin-left: 10px;
          font-weight: bold;
        }
      }
    }

    .cards {
      width: 90%;
      margin: 50px auto;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      gap: 30px;

      
    }

  } 
}